body {
    font: normal small Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    font-weight: bold;
}

td, th {
    padding: 5px;
    text-align: left;
}

label {
    user-select: none;
}