body {
    font: normal small Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    font-weight: bold;
}

td, th {
    padding: 5px;
    text-align: left;
}

label {
    user-select: none;
}

form {
    margin-bottom: 1.5em;
}

form:last-of-type {
    margin-bottom: 1em;
}

blockquote {
    margin-left: 16px;
}